body {
    margin 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}
h1 {
    margin: 0;
    font-size: 13px;
    margin: 12px 0 8px 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: #69696a;
    font-size: 12px;
}
.button {
    background-color: #000;
    color: #FFF;
    display: block;
    text-align: center;
    border-radius: 30px;
    padding: 10px;

}
h2 {
    font-size: 20px;
}
p {
    border-left: 2px solid #69696a;
    margin: 15px 5px 25px 5px;
    padding-left: 7px;
    font-size: 12px;
    color: #69696a;
    font-weight: 500;
}