body {
    margin: 0 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}
nav {
    display: flex;
    flex-direction: column;
}
    
h1 {
    margin: 0;
    font-size: 13px;
    margin: 12px 0 8px 0;
}
.h1 {
    color: #000;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   

}
li {
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: #69696a;
    font-size: 12px;
}
.button {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    border-radius: 30px;
    display: block;
    margin-right: 12px;
    text-align: center;
    


}
h2 {
    font-size: 20px;
}
p {
    border-left: 2px solid #69696a;
    margin: 15px 5px 25px 5px;
    padding-left: 7px;
    font-size: 12px;
    color: #69696a;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {

nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.header-class {
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
}

li {
    padding: 0 10px;
}


p {
    width: 50%;
}
main {
    display: flex;
    margin-top: 100px;
}
main .button {
    display: inline-block
    
}
.scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    
}
.circle {
    position: relative;
    left: 100px;
}
.one {
    background-color: rgba(247,136,167,0.6);
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: absolute;
}
.two {
    background-color: rgba(247,193,162,0.7);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
}
.three {
    background-color: rgba(207,130,213,0.6);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
}

}